* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("https://images.pexels.com/photos/313768/pexels-photo-313768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

#inputForm {
  margin-top: 100px;
  margin-left: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
  border: 1px solid #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
}

#list-container {
  margin-top: 100px;
  margin-left: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 550px;
  padding: 12px;
  text-align: center;
  border: 1px solid #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table {
  padding: 12px;
}

.thead {
  background-color: #555;
}

#tbody1 {
  background-color: #007bff;
}

.thead th {
  padding: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#tbody1 td {
  padding: 20px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  #inputForm,
  #list-container {
    margin-left: 20px;
    margin-right: 20px;
    max-width: none;
    width: auto;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("https://images.pexels.com/photos/313768/pexels-photo-313768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 500px 1200px;
  }
  
  #inputForm {
    margin-top: 50px;
    padding: 10px;
  }

  #list-container {
    margin-top: 50px;
    padding: 10px;
  }
}
