#list-container {
    margin: 50px auto;
    width: 90%;
    max-width: 380px;
    padding: 12px;
    text-align: center;
}

#availabilty-container {
    margin: 0 auto;
    background-color: black;
    width: 90%;
    max-width: 380px;
    padding: 12px;
    text-align: center;
    border: 1px solid #555;
    box-shadow: 8px 8px;
    visibility: hidden;
}

#availabilty-container label {
    color: wheat;
    font-size: 16px;
    font-weight: bold;
}

#seats {
    font-size: 16px;
    padding: 6px;
    background-color: black;
    color: #ff8c00;
}

#bookTickets {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
}

#list-container h2 {
    padding: 12px;
    margin-top: 18px;
    background-color: #92cc97;
    color: black;
    border-radius: 6px;
    font-size: 20px;
}

.row {
    padding: 12px;
}

.row ul li {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    background-color: skyblue;
}

.row ul li:hover {
    background-color: #92cc97;
    color: black;
    font-weight: bolder;
    border: 2px solid black;
    padding-left: 20px;
    box-shadow: 12px 12px #555;
}
