* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("https://media.cntraveler.com/photos/63cac962a20dd5b7d9e22c46/3:2/w_5934,h_3956,c_limit/Airplane%20night%20sky%20moon%20_%20marvin-van-beek-z3faD7yMRwg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#list-container {
  margin: 100px auto;
  max-width: 880px;
  width: 90%;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.table {
  padding: 12px;
}

.thead {
  background-color: #555;
}

#tbody1 {
  background-color: #345995;
}

.thead th {
  padding: 20px;
  font-size: 18px;
  color: wheat;
  font-weight: bold;
  text-align: center;
}

#tbody1 td {
  padding: 20px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-image: url("https://media.cntraveler.com/photos/63cac962a20dd5b7d9e22c46/3:2/w_5934,h_3956,c_limit/Airplane%20night%20sky%20moon%20_%20marvin-van-beek-z3faD7yMRwg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 1200px;
  }
  
  #list-container {
    margin: 50px auto;
    width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("https://media.cntraveler.com/photos/63cac962a20dd5b7d9e22c46/3:2/w_5934,h_3956,c_limit/Airplane%20night%20sky%20moon%20_%20marvin-van-beek-z3faD7yMRwg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 2200px;
  }
  
  #list-container {
    margin: 20px auto;
    padding: 10px;
  }
}
